body {
	font-family: sans-serif;
}

.wrapper {
	max-width: 960px;
	margin: 0 auto;
}

#mp3_player{ 
	width:100%; 
	height:60px; 
	background:#fff; 
	margin:0px auto; 
}
#mp3_player > div > audio{ padding:10px; width:100%; background:#efe;  }
#mp3_player > canvas{ 
	padding:0px 10px 0px 10px; 
	width:100%; 
	height:300px; 
	background:#efe; 
}

div.stats { position: absolute; top:0; right: 0 }

#list {
	    width: 350px;
	    padding: 5px;
	    margin: 0px auto;
	    border-radius: 10px;
}

#list li {
	list-style: none;
}
#list li:hover {
	background-color: tomato;
}

.logo:hover {
	border: 2px solid green;
}
